#punctuation {
    padding: 15px;
    margin: 15px;
    max-width: 100%;
    min-height: 100px;
    background: #EEE;
}
#textarea-input {
    border: 1px solid black;
    font-size: 1.5em;
    margin: 30px 2px;
}
.token {
    background: #CCC;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    float: left;
}
.token-punctuation {
    background: #F2C38A;
}
.token-NONE {
    background: #F2C38A;
    white-space: pre-wrap;
}
.token-COMMA {
    background: #F2C38A;
    white-space: pre-line;
}
.token-PERIOD {
    background: #F2C38A;
    white-space: pre-line;
}
