# Sentence files
train_instances.txt
test_instances.txt
config.ini

# Caffe files
*.tlog
*.tstlog
leveldbs/
net/experiments/
net/snapshots/

# IDE files
.idea/
*.iml
__pycache__/

# Python virtual environment
.env
p3/
*.pyc

# Database file
hdf5/
