# Sentence files
train_instances.txt
test_instances.txt
config.ini
email.ini
lineparsing
configurations/
audio_configurations/
auto.prototxt

# Experiment files
*.run

# Caffe files
*.tlog
*.tstlog
leveldbs
net/experiments
net/snapshots/
net-audio/experiments
net-audio/snapshots/

# IDE files
.idea/
*.iml
__pycache__/

# Python virtual environment
.env
p3/
p2/
*.pyc

# Database file
hdf5/
infogain_loss_matrix/*.h5

# LaTeX
.output/
main.pdf
*.svg

# Lock files
.~lock.*#

