#punctuation {
    padding: 15px;
    margin: 15px;
    max-width: 100%;
    min-height: 100px;
    background: #EEE;
}
.punctuation_div {
    padding: 15px;
    margin: 15px;
    max-width: 100%;
    min-height: 100px;
    background: #EEE;
}
#textarea-input {
    border: 0.5px solid black;
    font-size: 1em;
    margin: 10px 2px;
}
.token {
    background: #CCC;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    margin-right: 3px;
    margin-left: 3px;
    float: left;
}
.token-punctuation {
    background: #F2C38A;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.token-NONE {
    background: #F2C38A;
    background: #DDD;
    white-space: pre-wrap;
}
.token-COMMA {
    background: #F28A8A;
    white-space: pre-line;
}
.token-PERIOD {
    background: #8AB4F2;
    white-space: pre-line;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
