<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/ >
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Sentence Boundary Detection</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/main.css"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="static/main.js"></script>
    </head>
    <body>
        <h1>Sentence Boundary Detection</h1>
        <form>
            <textarea id="textarea-input" class="form-control" rows="3" placeholder="Enter unpunctuated text">The sun is shining let's go outside</textarea>
            <button id="button-punctuate" type="button">Punctuate!</button>
        </form>
        <div id="punctuation">
        </div>
    </body>
</html>
