<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/ >
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sentence Boundary Detection</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/main.css"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Sentence Boundary Detection</h1>
            <ul class="nav nav-tabs">
                <li><a href="/">Lexical</a></li>
                <li class="active"><a href="/audio_lexical">Lexical + Audio</a></li>
            </ul>

            <h4 style="margin-top: 30px">Choose an Example</h4>
            <select id="selection-audio-examples" type="selection" class="form-control"></select>


            <h4 style="margin-top: 30px">Choose an Audio Model</h4>
            <select id="selection-audio-models" type="selection" class="form-control"></select>

            <h4 style="margin-top: 10px">Choose an Lexical Model</h4>
            <select id="selection-lexical-models" type="selection" class="form-control"></select>

            <div class="pull-right" style="margin-top: 30px">
                <button id="button-punctuate" class="btn btn-success btn-lg" type="button">Punctuate!</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>
