<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/ >
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sentence Boundary Detection</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/main.css"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Sentence Boundary Detection</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a href="/">Lexical</a></li>
                <li><a href="/audio_lexical">Lexical + Audio</a></li>
            </ul>

            <div class="panel-group" id="accordion" style="margin-top: 30px">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Input Text</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <textarea id="textarea-input" class="form-control" rows="5" placeholder="Enter unpunctuated text">The sun is shining let's go outside</textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Choose a Text File</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <select id="selection-text-file" type="selection" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>

            <h4 style="margin-top: 30px">Choose a Lexical Model</h4>
            <select id="selection-lexical-models" type="selection" class="form-control"></select>

            <div class="clearfix"></div>
            <form style="margin-top: 30px">
                <div class="pull-right">
                    <button id="punctuate-lexical" class="btn btn-success btn-lg" type="button">Punctuate!</button>
                </div>
                <div class="clearfix"></div>
            </form>

            <h3>Result</h3>
            <div id="punctuation" class="clearfix"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>
